
h1 {
    margin: 50px 50px 50px 50px;
}

h3 {
    margin-top: 30px;
    margin-bottom: 30px;
}

input {
    margin: 5px;
    border-radius: 5px;
    border: solid 1px rgb(190, 134, 191);
}

body {
    background-color: rgb(235, 219, 238);
    text-align: center;
}

textarea {
    border: none;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(104, 29, 82, 0.316);
    padding: 10px;
    margin-bottom: 10px;
}

textarea:focus {
    outline: none;
}

textarea::-webkit-resizer {
    border-width: 8px;
    border-style: solid;
    border-color: transparent rgb(194, 139, 188) rgb(194, 139, 188) transparent;
  }

.btn-primary {
    background-color: rgba(129, 37, 133, 0.833);
    margin: 20px;
    border: solid 1px rgba(101, 46, 78, 0.244);
}

.btn-primary:hover {
    background-color: rgba(147, 41, 131, 0.711);
    border: solid 1px rgba(101, 46, 78, 0.244);
}
